
body {
    font-family: Tahoma;
    /*background-color: #F5F6CE;*/
    background-image: url("../images/background-pattern.png");
}

h1 {
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

label {
    margin: 3px 0;
    font-size: 14px;
}
        
#container {
    margin:  0 auto;
    width: 1000px;
    height: auto;
    padding: 10px 20px;
}

    .initForm {
        margin:  60px auto;
        width: 345px;
        display: none;
    }
        .initForm .form {
            border: 1.5px dashed;
            margin: 10px;
            padding: 10px;
            background-color: #C8E6B4;
            overflow: auto;
            border-radius: 5px;
        }
    
        .initForm input[type="text"]
        {
            margin: 3px;
            padding: 3px 10px;
            width: 275px;
            border: 1px solid black;
            border-radius: 50px 5px;
            font-style: italic;
        }
        
        .initForm input[type="button"]
        {
            float: right;
        }



#divMain {
    margin: 50px;
    overflow: hidden;
    display: none;
} 

    #divOponent {
        float: left;
        width: 330px;
        margin-bottom: 700px;
        border-radius: 5px;
        border: 2px dashed;
        padding: 15px;
    }
    
        #divOponent form {
            border: 1.5px dashed;
            margin: 10px;
            padding: 10px;
            background-color: #C8E6B4;
            overflow: auto;
            border-radius: 10px;
        }
        
        #divOponent input[type="text"]
        {
            margin: 3px;
            padding: 3px;
            border: 1px solid black;
            width: 110px;
        }
        
        #tblAttemps {
            border-collapse:collapse;
            border: 1px solid black;
            width: 100%;
            background-color: #C8E6B4;
            margin: 5px;
            padding: 5px;
            font-size: 14px;
        }
            #tblAttemps td, #tblAttemps th{
                border: 1px solid black;
                text-align: center;
            }
        
    #divPlayers {
        float: right;
        width: 350px;
    }
        #tblPlayers   {
            border-collapse: collapse;
            border: 2px dashed;
            width: 100%;
            background-color: #C8E6B4;
            border-radius: 10px;
        }
            #tblPlayers td, #tblPlayers th{
                border: 1px solid black;
                text-align: center;
            }
